body
  #main-box
    h1 Random Quote Machine
    h3#quote-title 
    p#quote-content
    p#quote-source
    .button-container
      button#quotes Get Quotes
  #additional-information
    h3 Thank you for trying out my quote machine! In order to use these quotes, please follow the following link: 
    li
      a#tweet-quote Tweet this! 
      i.fa.fa-twitter
    